@using ECommerceWeb.Common
@page "/categorias/list"
@inject HttpClient HttpClient

<h3>Lista de Categorías</h3>

<div>
    <button type="button" class="btn btn-primary mb-3" @onclick="MostrarLista">Mostrar Lista</button>
</div>

@if (MostrarDatos)
{
    @if (Categorias.Count == 0)
    {
        <p class="alert alert-warning">No hay categorías disponibles</p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr class="table-primary">
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Despcripción</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var categoria in Categorias)
                {
                    <tr>
                        <td>@categoria.Id</td>
                        <td>@categoria.Nombre</td>
                        <td>@categoria.Descripcion</td>
                    </tr>
                }
            </tbody>
        </table>
    }
}

@code {
    public ICollection<CategoriaDto> Categorias { get; set; } = new List<CategoriaDto>();

    public bool MostrarDatos { get; set; }

    private async Task LoadData()
    {
        var response = await HttpClient.GetAsync("api/categorias");
        if (response.IsSuccessStatusCode)
        {
            Categorias = await response.Content.ReadFromJsonAsync<ICollection<CategoriaDto>>()
            ?? new List<CategoriaDto>();
        }
    }

    private async Task MostrarLista()
    {
        MostrarDatos = !MostrarDatos;
        if (MostrarDatos)
        {
            await LoadData();
        }
    }
}
